@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@1,700&display=swap');

@font-face {
	font-family: "Century Gothic";
	src: url("../fonts/centurygothic.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Century Gothic";
	src: url("../fonts/centurygothic_bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}
body{
	font-family: "Century Gothic";
}
img{
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.wrapper{
	min-height: 100%;
   display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}
.navbar-light{
	background-color: #f5f2f8;
}
.navbar-toggler{
	border: none;
}
svg{
	color: #5b5da8;
}
.social-icon-phone svg{
	color: #ff5fb6;
}

.modal-content{
	border-radius: 10px;
}
.modal-backdrop{
	position: relative;
}
.btn-modal{
	border: 3px solid #ff5fb6;
	border-radius: 10px;
}
.btn-modal:active{
	background-color: hsl(327, 100%, 69%, 0.3);
}
.modal-sing-in input{
	display: block;
	width: 80%;
	margin-bottom: 15px;
	border: 1px solid #ff5fb6;
	border-radius: 5px;
}
.modal-sing-in p{
	font-size: 15px;
}
.modal-sing-in a{
   color: #ff5fb6;
	font-weight: 700;
}
.navbar-toggler:focus{
	box-shadow: 2px 1px 5px #5b5da8;
}
.navbar-collapse{
	overflow: scroll;
	height: 90vh;
}
.accordion-button:not(.collapsed){
	color: black;
	background-color: white;
}
.accordion-button:focus{
	border-bottom: 1px solid #5b5da8;
	box-shadow: none;
}
ul{
	list-style-type: none;
}
.contact-mobile{
	padding: 0;
}
.contact-mobile li a, .contact-mobile li{
	color: #5b5da8;
	text-decoration: none;
	display: block;
	padding: 0;
}
main{
	flex: 1 1 auto;
}
.logo-mobile{
	margin: 70px 0 0;
	padding: 30px 0;
}
.mobile-search{
	width: 70%;
	margin: 0 auto;
}
nav{
	background-color: #f5f2f8;
}
.sing-in{
	margin: 0 0 0 25px;
}
.nav-link{
	font-size: 14px;
	color: #5b5da8;
}
.nav-link:hover{
    text-shadow: 0 2px 3px #6a6cac;
}
.login, .registration{
	position: relative;
}
.login::before{
	content: url("../image/header/client_icon.png");
	position: absolute;
	left: 0;
	bottom: 15%;
}
.registration::before{
	content: url("../image/header/sign_in_icon.png");
	position: absolute;
   left: 0;
	bottom: 15%;
}
.logo{
	font-family: "Philosopher";
	font-size: 58px;
	font-weight: 700;
	font-style: italic;
	text-transform: uppercase;
	color: #ff5fb6;
	display: block;
	line-height: 0.6em;
}
.under-logo{
	opacity: 0.9;
	font-size: 13px;
	font-weight: 400;
	font-style: italic;
	color: #5b5da8;
	display: block;
}
.marker, .basket{
	position: relative;
	font-size: 12px;
	color: #5b5da8;
	text-decoration: none;
}
.marker:hover, .basket:hover{
   text-decoration: underline;
	color: #5b5da8;
}
.marker::before{
	content: url("../image/header/heart_marker.png");
	position: absolute;
	left: 5%;	
}
.basket::before{
	content: url("../image/header/basket.png");
	position: absolute;
	left: 5%;
}
.header-bottom{
	margin-top: 10px;
}
.dropdown{
	margin: 0;
	padding: 0;
}
.dropdown-btn{
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	color: #5b5da8;
	position: relative;
	margin-right: 15px;
	padding: 0;
}
.btn-check:focus + .btn, .btn:focus, .btn:hover{
	box-shadow: none;
	color: #ff5fb6;
}
.dropdown-menu{
	width: 300px;
	background-color: rgb(255, 255, 255, 0.9);
	padding: 0 0 15px 15px;
	height: 80vh;
}
.dropdown-item{
	font-size: 16px;
	font-weight: 400;
	color: #5b5da8;
	white-space: normal;
	padding: 20px 0 0;
}
.dropdown-item:hover{
	text-decoration: underline;
	color: #5b5da8;
	background-color: transparent;
}
input[type="search"]{
	height: 30px;
	border: 0.7px solid #5b5da8;
	border-radius: 10px;
	padding: 0 0 0 25px;
}
.search-btn{
	height: 30px;
	width: 40px;
	border: 0.7px solid #ff5fb6;
	border-radius: 10px;
	background-color: #ff5fb6;
	background-image: url("../image/header/search.png");
	background-repeat: no-repeat;
	background-position: center;
}
.phone-number{
	line-height: 1em;
	font-size: 14px;
}
.phone-number a{
	display: block;
	font-weight: 700;
	text-transform: uppercase;
	color: #ff5fb6;
	text-decoration: none;
}
main{
	overflow: hidden;
}
.banner{
	padding: 125px 0;
	background-position: 50% 50%;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
	position: relative;
	height: 75vh;
}
.banner::after{
	content: " ";
	position: absolute;
	background-color: #b992d9;
	opacity: 0.5;
	height: 100%;
	width: 30%;
	top: 0;
	right: 0;
	border-top-left-radius:  20% 55% ;
	border-bottom-left-radius: 20% 55%;
}
h1{
	display: inline-block;
	width: 30%;
	padding: 60px 30px 60px 0;
	font-size: 42px;
	font-weight: 400;
	text-transform: uppercase;
	color: #fffeff;
	border: 14px solid rgba(255, 255, 255, 0.4);
	border-image: linear-gradient(139.0deg, rgb(255, 195, 228, 0.4) 11%, rgb(248, 234, 225, 0.4) 50%, rgb(247, 247, 247, 0.4) 88%);
	border-image-slice: 1;
	position: relative;
	z-index: 1;
}
.guarantees{
	margin-top: 80px;
}
.guarantees-list .guarantees-quality, .guarantees-success{
	border: 14px solid rgb(192, 193, 197, 0.12);
	position: relative;
	box-sizing: border-box;
}
.guarantees-quality::before{
	content: url("../image/guarantees/medal.png");
	position: absolute;
}
.guarantees-servise{
	border: 14px solid rgb(218, 193, 179, 0.12);
	box-sizing: border-box;
	position: relative;
}
.guarantees-servise::before{
	content: url("../image/guarantees/operator.png");
	position: absolute;
}
.guarantees-success::before{
	content: url("../image/guarantees/competition.png");
	position: absolute;
}
.guarantees-quality::before, .guarantees-servise::before, 
.guarantees-success::before{
	top: -15%;
	left: 5%;
}
h2 span{
	font-size: 24px;
	line-height: 1.2em;
	font-weight: 400;
	text-transform: uppercase;
	color: #5b5da8;
	position: relative;
	display: inline-block;
}
h2 span::after{
	content: " ";
	position: absolute;
	height: 6px;
	width: 100%;
	background-image: linear-gradient(90.0deg, #ffc3e4 0%, #f8eae1 50%, #f7f7f7 100%);
	right: 0;
	top: 110%;
}
.guarantees-text{
	font-size: 14px;
	color: #868686;
	margin: 45px 0 0;
}
.sale{
	margin-top: 80px;
}
.week-sale{
	background-image: url("../image/sale/sale_img_1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.biggest-sale{
	background-image: url("../image/sale/sale_img_2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;	
}
.sale-text a{
	background-color: #c5b3d8;
	display: inline-block;
	width: 230px;
	padding: 25px 0 15px 20px;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
	margin: 0;
	text-decoration: none;
	line-height: 1;
}
.sale-text a span{
	font-size: 12px;
	text-decoration: none;
	text-transform: none;
}
.biggest-sale-text{
	display: inline-block;
	width: 280px;
	margin: 0;
	text-transform: uppercase;
	color: #707070;
	font-size: 24px;
}
.sale-50 {
	background-color: rgb(255, 255, 255, 0.7);
	margin: 0;
	padding: 0 10px;
	display: block;
}
.sale-50 span{
	font-size: 72px;
}
.sale-spa{
	background-color: rgb(255, 255, 255, 0.7);
	display: inline-block;
	margin: 0;
	padding: 0 10px ;
}
.slider-slick{
	position: relative;
}
.slick-prev{
	background-color: red;
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 20%;
	left: 0;
	top: 0;
	opacity: 0;
}
.slick-next{
	background-color: blue;
	position: absolute;
	z-index: 1;
	height: 100%;
	width: 20%;
	right: 0;
	top: 0;
	opacity: 0;
}
h3 span{
	position: relative;
	font-size: 36px;
	text-transform: uppercase;
	color: #5b5da8;
}
h3 span::after{
	content: " ";
	position: absolute;
	height: 6px;
	width: 100%;
	background-image: linear-gradient(90.0deg, #ffc3e4 0%, #f8eae1 50%, #f7f7f7 100%);
	top: 110%;
	left: 0%;
}
h3{
	position: relative;
}
h3::before{
	content: url("../image/bestsellers/shopping_bag.png");
	position: absolute;
	bottom: 0%;
	left: 50%;
	transform: translate(-50%);
	opacity: 0.5;
	z-index: -1;
}
.card{
	border: 14px solid rgb(205, 205, 205, 0.1);
	box-sizing: border-box;
}
.card-title a{
	font-size: 14px;
	line-height: 1.2em;
	font-weight: 700;
	color: #5b5da8;
	text-decoration: none;
}
.card-img-wrapper{
	margin: 0 auto;
	width: 150px;
	height: 150px;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	margin: 0;	
	padding: 0;
	cursor: pointer;
	font-size: 25px;
	float: right;
	color: #ff5fb6;
}
.rating-area:not(:checked) > label:before {
	content: "\2606";
}
.rating-area > input:checked ~ label {
	color: gold;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
}
.rate-area > label:active {
	position: relative;
}
.card-text{
	font-size: 24px;
	line-height: 1.2em;
	color: #ff5fb6;
}
.card-text span{
	font-size: 14px;color: #5b5da8;
	text-decoration: line-through;
}
label{
	font-size: 14px;
	color: #5b5da8;
}
input[type="number"]{
	width: 31px;
	height: 31px;
	border: 0.6px solid #5b5da8;
	border-radius: 50%;
	font-size: 14px;
	color: #5b5da8;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
 }
 input[type="number"]:hover,
 input[type="number"]:focus {
	-moz-appearance: number-input;
 }
.card-btn{
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fefefe;
	background-color: #ff5fb6;
	border: none;
	border-radius: 10px;
}
.novelties-title::before{
	content: url("../image/novelties/novelties_star_title.png");
	position: absolute;
	bottom: 0%;
	left: 50%;
	transform: translate(-50%);
	opacity: 0.5;
	z-index: -1;
}
.feedback{
	background-color: #c5b3d8;
	position: relative;
	padding: 80px 0;
}
.feedback p{
	font-size: 14px;
	line-height: 1.2em;
	font-style: italic;
	color: #fff;
}
.carousel-inner{
	position: relative;
}
.carousel-inner::after{
	content: " ";
	position: absolute;
	width: 165px;
	height: 121px;
	border: 14px solid #ffffff;
	opacity: 0.12;
	top: 15%;
	left: 60%;
	transform: translate(-50%);
}
.feedback-prev{
	left: 40%;
	top: 110%;
}
.feedback-next{
	right: 40%;
	top: 110%;
}
.carousel-item p{
	font-size: 14px;
	line-height: 1.2em;
	color: #707070;
}
.about-us{
	padding: 80px 0;
	position: relative;
}
.about-us::before{
	content: url('../image/about-us/Sea\ Salt\ Bowl\ copy.png');
	position: absolute;
	bottom: 0;
	left: 0;
}
.about-us::after{
	content: url('../image/about-us/White\ Vase.png');
	position: absolute;
	right: 0;
	top: 10%;
}
.about-us-title::before{
	content: url("../image/about-us/lotos.png");
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translate(-50%);
	opacity: 0.5;
	z-index: -1;
}
.about-us-prev{
	left: 15%;
}
.about-us-next{
	right: 15%;
}
.footer{
	width: 100vw;
}
.footer-top{
	position: relative;
}
.footer-top::before{
	content: " ";
	position: absolute;
   top: 0;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
   width: 100vw;
   background: #765598;  
   z-index: -1;
}
.footer-top ul{
	margin: 50px 0 0;
}
.footer-top ul li{
	margin: 20px 0 0;
	font-size: 14px;
	line-height: 1.2em;
	color: #ffffff;
}
.footer-top ul li a{
	font-size: 14px;
	line-height: 1.2em;
	color: #ffffff;
	text-decoration: none;
}
.footer-top ul li a:hover{
	text-decoration: underline;
}
h5 span{
	position: relative;
	font-size: 18px;
	line-height: 1.2em;
	font-weight: 700;
	text-transform: uppercase;
	color: #ffffff;
}
h5 span::after{
	content: " ";
	position: absolute;
	height: 6px;
	width: 100%;
	background-image: linear-gradient(90.0deg, #ffc3e4 0%, #f8eae1 50%, #f7f7f7 100%);
	top: 110%;
	left: 0%;
}
.contacts{
	padding: 0;
}
.contacts li{
	padding-left: 50px ;
	position: relative;
}
.contacts li{
	position: relative;
}
.address::before{
	content: url('../image/contacts/map_pointer.png');
	position: absolute;
	left: 0;
	top: 0;
}
.imail{
	margin-top: 25px;
}
.imail::before{
	content: url('../image/contacts/email.png');
	position: absolute;
	left: 0;
	top: 0;
}
.phone-numbers{
	margin-top: 25px;
}
.phone-numbers a{
	display: block;
}
.phone-numbers::before{
	content: url('../image/contacts/smartphone.png');
	position: absolute;
	left: 0;
	top: 20%;
}
.clock{
	margin-top: 25px;
	width: 160px;
}
.clock::before{
	content: url('../image/contacts/alarm_clock.png');
	position: absolute;
	left: 0;
	top: 0;
}
.social{
	position: relative;
}
.instagram a:hover::after{
	content: url('../image/social-icons/instagram-pink.png');
	position: absolute;
   top: 0;
	left: 0;
}
.facebook a:hover::after{
	content: url('../image/social-icons/facebook-pink.png');
	position: absolute;
   top: 0;
	left: 0;
}
.google a:hover::after{
	content: url('../image/social-icons/google-pink.png');
	position: absolute;
   top: 0;
	left: 0;
}
.footer-bottom{
	background-color: #fff;
}
.footer-bottom-content p{
	color: #5b5da8;
}
@media (min-width:768px) {
	.feedback-slider{
		width: 40%;
	}
	.about-us-slider{
		width: 50%;}
}
@media (max-width:767px){
	.about-us::before{
		display: none;
	}
	.about-us::after{
		display: none;
	}
	.footer-bottom{
		background-color: #765598;	}
	h1{
		font-size: 30px;
		width: 75%;
	}
	.banner::after{
		width: 60%;
	}
	.footer-bottom-content p{
		color: #5b5da8;
		color: #fff;
	}
}


